body {
    background-color: darkseagreen;
}

div {
    width: 22rem;
    margin: auto;
    margin-top: 5%;
    padding: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: darkseagreen;
    text-align: center;
    border: 0.15rem dotted black;
}

h1 {
    text-align: center;
    font-size: 2rem;
}

input {
    display: inline-block;
    font-size: 2rem;
    width: 9.375rem;
    text-align: center;
    border: 0.1rem solid black;
    border-radius: 0.5rem;
}

button {
    background-color: rgb(121, 156, 121);
    border: 0.1rem solid black;
    border-radius: 0.5rem;
    font-size: 2rem;
    width: 9.375rem;
    cursor: pointer;
}

#output {
    text-align: center; 
}